<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Action</title>
    <style>
      td.note {
        font-style: italic;
        padding-left: 2rem;
      }
    </style>
  </head>
  <body>
    <section>
      <p>This Action will take the complete data layer and track it into contextData. See <a href="https://github.com/janexner/launch-extension-context-data-tools">github</a> for an example.</p>
    </section>

    <section>
      <h3>Settings</h3>
      <table>
        <tbody>
          <tr>
            <td>Namespace for contextData (optional)</td>
            <td><input id="namespace" /></td>
            <td><button id="btnNamespace">Use Data Element</button></td>
          </tr>
          <tr>
            <td>Data Layer object</td>
            <td><input id="dataLayerName" /></td>
            <td><button id="btnDataLayerName">Use Data Element</button></td>
          </tr>
          <tr>
            <td class="note" colspan="3">Example: use 'digitalData' here to access <code>window.digitalData</code></td>
          </tr>
          <tr>
            <td>Join multiple values (from arrays) using</td>
            <td><input id="joinCharacter" /></td>
            <td><button id="btnJoinCharacter">Use Data Element</button></td>
          </tr>
          <tr>
            <td class="note" colspan="3">Example: ',' or '|' tend to work well</td>
          </tr>
        </tbody>
      </table>
    </section>

    <script src="https://assets.adobedtm.com/activation/reactor/extensionbridge/extensionbridge.min.js"></script>
    <script>
      window.extensionBridge.register({
        init: function(info) {
          if (info.settings) {
            var namespace = info.settings.namespace || '';
            document.querySelector('#namespace').value = namespace;
            var dataLayerRoot = info.settings.dataLayerRoot;
            document.querySelector('#dataLayerName').value = dataLayerRoot;
            var joinCharacter = info.settings.joinCharacter || ',';
            document.querySelector('#joinCharacter').value = joinCharacter;
          }
        },

        getSettings: function() {
          return {
            'namespace': document.querySelector('#namespace').value,
            'dataLayerRoot': document.querySelector('#dataLayerName').value,
            'joinCharacter': document.querySelector('#joinCharacter').value
          }
        },

        validate: function() {
          return true;
        }
      });
    </script>
    <script>
      var btnNamespace = document.querySelector('#btnNamespace');
        btnNamespace.addEventListener('click', function(event) {
          window.extensionBridge.openDataElementSelector().then(function(dataElement) {
            document.querySelector('#namespace').value = dataElement;
          });
        });
        var btndataLayerName = document.querySelector('#btnDataLayerName');
        btndataLayerName.addEventListener('click', function(event) {
          window.extensionBridge.openDataElementSelector().then(function(dataElement) {
            document.querySelector('#dataLayerName').value = dataElement;
          });
        });
        var btnJoinCharacter = document.querySelector('#btnJoinCharacter');
        btnJoinCharacter.addEventListener('click', function(event) {
          window.extensionBridge.openDataElementSelector().then(function(dataElement) {
            document.querySelector('#joinCharacter').value = dataElement;
          });
        });
    </script>
  </body>
</html>
